.purpleButton {
  background-color: rgb(26, 49, 153);
  color: white;
  
}
.purpleButton:hover {
  background-color: rgba(26, 49, 153, 0.756);
  color: rgba(255, 255, 255, 0.634);
}
.purpleButton:focus {
  background-color: rgb(28, 26, 153);
  color: white;
  border: 0;
}

.card-body {
  background: rgba(6, 22, 53, 0.356);

}