.navbar {
  padding: 0;
}

.navbar .navbar-nav {
  float: none;
  vertical-align: top;
  justify-content: center;
  text-align: center;

}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-light .navbar-nav a.nav-link.active {
  color: orange;
}

#navbarNav {
  background: rgba(55, 46, 149, 0.95);
  height: 50px;
}
.nav-link {
  color: white;

}