body {
  margin: 0;
  background: linear-gradient(to right, #d7dfdb, #c5c2c2);
  text-align: center;
  font-family: 'Comfortaa', cursive;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Footer {
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
}

.height-min {
  min-height: 86vh;
}

