body {
  margin: 0;
  text-align: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Footer {
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
}

.height-min {
  min-height: 86vh;
}

.bg-light{
  background: rgba(55, 46, 149, 0.95);
}